.d{                                                /*day 9-1*/
    width: 100%;                                  /*day 9- 1*/
    height: 100vh;                                 /*day 9- 1*/
    background-image: url("background.png");       /*day 9- 1*/
    background-size: cover;                        /*day 9- 1*/
    background-repeat: repeat-x; /*14*/

    overflow-x: hidden;/*17*/
    position: absolute;/*17*/
} 
.body{                            /*day 9- 1*/
    margin: 0px;                  /*day 9- 1*/
}  /*day 9- 1*/

.f{ /*day 9 3*/
    height: 160px; /*day 9- 3*/
    margin-top: 480px; /*day 9- 3*/
    position: absolute; /*day 9- 4*/
}

/*day 10-----------------*/
.boy{                            /*2*/
    height: 250px;                 /*2*/
    margin-top: 365px;  /*2*/
    position: absolute; /*badaka wadunama yane nathi wena */     /*2*/
} /*2*/

.score{  /*10*/
    position:absolute ; /*10*/
    margin-top: 40px; /*10*/
    margin-left: 60px; /*10*/
    font-size: 100px; /*10*/
    font-weight: bold; /*10*/
}